* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: red;
    font-size: larger;
    color: white;
    margin-bottom: 50px;
    padding: 30px;
}

#team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 15vw;
}

.card {
    width: 300px;
    margin: 20px;
    background-color: #dfdfdf;
    font-size: large;
    box-shadow: 5px 5px 5px grey;
    border-radius: 7px;
}

.card-head {
    background-color: steelblue;
    color:white;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

h2 {
 margin: 5px;
}

h3 {
 margin: 5px;
}

ul {
    list-style: none;
    margin: 50px 25px;
}

li {
    border: 1px solid lightgrey;
    padding: 15px 20px;
    background-color: white;
}